<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="data/CV-Jiateng Liu.pdf">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="jiateng0104@gmail.com">gmail</a></li>
				<li><a href="liujiateng@zju.edu.cn">ZJU-Email</a></li>
	        		<li><a href="https://github.com/Lumos-Jiateng">github.com/Jiateng-Liu</a></li>
				</ul>
			</footer>
		</body>
	</html>
